<%- include("header") -%>
        
        <div class="box" id="heading">
        <h1>To Do List for <%= listTitle%> </h1>
    </div>
    <div class="box">
        
            <% newToDo.forEach(function(todo){ %>
            <form method="post" action="/delete">
                <div class="item">
                    <input name="checkbox" type="checkbox" value="<%=todo._id%>" onChange="this.form.submit()">
                    <p ><%=todo.name%></p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>"></input>
            </form>
             <% }) %>
      

    
        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="New ToDo" autocomplete="off"/>
            <button type="submit" name="list" value="<%=listTitle %>">+</button>
        </form>
    </div>

    <%- include("footer") -%>
