<%- include("header") -%>
        
        <div class="box" id="heading">
        <h1>To Do List for <%= listTitle%> </h1>
    </div>
    <div class="box">
        
            <% newToDo.forEach(function(todo){ %>
            <div class="item">
                <input type="checkbox">
                <p ><%=todo.name%></p>
            </div>
             <% }) %>
      

    
        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="New ToDo" autocomplete="off">
            <button type="submit" name="list" value="<%=listTitle %>">+</button>
        </form>
    </div>

    <%- include("footer") -%>
